<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Hello World!</h1>
    <button name="hello">hello</button>
    <button name="study">study</button>
    <button name="bye">bye</button>
    <div style="margin-top: 10px;"></div>
    <script>
        var socket = io.connect();

        $("button").on("click", (e)=>{
            if(e.target.name === "hello") {
                socket.emit("hello", "client : hello")
                socket.on("hello from server", (data) => {
                    $("div").html(data)
                })
            } else if (e.target.name === "study") {
                socket.emit("study", "client : study")
                socket.on("study from server", (data) => {
                    $("div").html(data)
                })
            } else if (e.target.name === "bye") {
                socket.emit("bye", "client : bye")
                socket.on("bye from server", (data) => {
                    $("div").html(data)
                })
            }
        })
        

        socket.emit("welcome", "(클라이언트) 반가워");
        socket.on("welcome from server", (data) => {
            console.log(data);

            console.log(data.name, data.msg);
        })
    </script>
</body>
</html>